<header>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <script src="/javascripts/cliente/logout.js"></script>
    <div class="sidebar">
        <ul>
            <li><a href="/">Anotações</a></li>
            <li><a id="abrirModalAnotacao">Criar Anotação</a></li>
            <li><a href="/tarefas"> Tarefas </a></li>
            <li><a id="abrirModalTarefa"> Criar Tarefa</a></li>
            <li><a id="logout" onclick="Logout()"> Sair</a></li>
        </ul>
    </div>
</header>
<script src="/javascripts/anotacao/modal.js" defer></script>